<!-- START FOOTER -->
		<div class="footer">
			<div class="container">		
				<div class="row">					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_footer">
							<img src="assets/img/logo.png" alt="logo">
							<div class="contact_social">
								<ul>
									<li><a class="f_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="f_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="f_instagram" href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a class="f_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a class="f_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>							
							<div class="copyright">
								<p>&copy; 2019 All Rights Reserved.</p>
							</div>
						</div><!--- END FOOTER COPYRIGHT -->
					</div><!--- END COL -->		
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_footer">
							<h4>Important links</h4>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Terms</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Licenses</a></li>
							</ul>
						</div>
					</div><!--- END COL -->	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_footer single_footer_address">
							<h4>Get in touch</h4>
							<ul>
								<li><span>Address:</span> Orange, USA </li>
								<li><span>Email:</span> example@yourmail.com </li>
								<li><span>Phone:</span> +880 123 456 789 </li>
								<li><span>Work Time:</span> Mon - Fri: 08.00 - 16.00</li>
							</ul>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_footer single_footer_address">
							<h4>Subscribe Today</h4>
							<div class="signup_form">							
								<!-- Replace the form action in the line below with your MailChimp embed action! -->
								<form novalidate="" target="_blank" class="validate" name="mc-embedded-subscribe-form" method="post" action="http://site90.us11.list-manage.com/subscribe/post?u=599a2153f4b86cb2f92d4af3a&amp;id=26d7c26287">
									<input type="email" placeholder="Enter Email" id="mce-email" class="form-control" name="EMAIL">
									<span><button class="btn btn-detault btn-light-bg" name="subscribe" type="submit">Subscribe</button></span>
									<div id="mce-responses">
										<div style="display:none" id="mce-error-response" class="response"></div>
										<div style="display:none" id="mce-success-response" class="response"></div>
									</div>
								</form>
							</div>
						</div>
					</div><!--- END COL -->			
				</div><!--- END ROW -->					
			</div><!--- END CONTAINER -->
		</div>
		<!-- END FOOTER -->		