<!-- START NAVBAR -->
<div class="navbar navbar-default navbar-fixed-top menu-top menu_dropdown">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="logo"></a>
		</div>
		<div class="navbar-collapse collapse">
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="arrow-btn" href="#home">Home</a>
						<ul class="sub-menu">
							<li><a href="index_ripple.html">Home Water Fade</a></li>
							<li><a href="index_particle.html">Home Particle</a></li>
							<li><a href="index_youtube.html">Home Youtube</a></li>
						</ul>
					</li>
					<li><a class="page-scroll" href="#feature">Features</a></li>
					<li><a class="page-scroll" href="#screenshots">Screenshots</a></li>
					<li><a class="page-scroll" href="#team">Team</a></li>
					<li><a class="page-scroll" href="#pricing">Pricing</a></li>
					<li><a class="page-scroll" href="#download">Download</a></li>
					<li><a class="page-scroll" href="#" data-toggle="modal" data-target="#projectModal">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div><!--- END CONTAINER -->
</div>
<!-- END NAVBAR -->	